recaptcha:
  projectId: cedar-meadow-meats-website
  secretKey: ${RECAPTCHA_SECRET}
spring:
  application:
    name: order-service
  docker:
    compose:
      enabled: false
management:
  health:
    diskspace:
      enabled: false
cors: http://localhost

